* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.bg-container{
    height: 100vh;
    width: 100%;
    background-color:   #f9fbfe;
    padding: 10px;
}
.head1{
    text-align: center;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    font-weight: 400;
}
.head2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.in{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border-style: solid;
    border-color: #e4e7eb;
    margin-top: 10px;
    border-width: 1px;
}
.bt{
    border-radius: 5px;
    width: 70px;
    margin-top: 10px;
    border-style: solid;
    border-width: 0px;
    background-color: #4c63b6;
    color: white;
    text-align: center;
    height: 35px;
    margin-bottom: 10px;

}
.sp{
    margin-top: 45px;
}
.todo-cont{
    margin-top: 15px;
    list-style: none;
}
.lab{
    background-color: #e6f6ff;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: #096f92;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-width: 5px;
    margin-top: 10px;
    height: 35px;

}
.label-cont{
    width: 18px;
    height: 20px;
    margin-top: 18px;
    margin-right: 10px;
}
.checkbox-label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
}
.delete-icon-container{
    text-align: right;
    width: 18%;
    margin-left: auto;
}

.delete-icon {
    padding-top: 9px;
    padding-bottom: 8px;
}
.checked{
    text-decoration: line-through;
}